::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: skyblue;
}

body {
    background-color: #121720;
    padding: 0px;
    margin: 0px;
}

.body-container {
    display: flex;
}

#dashboard {
    background-image: linear-gradient(#1d2c42, #2f476a);
    color: #ffff00;
    margin: 10px 5px;
    border-radius: 20px;
    width: 20%;
    height: 95vh;
    padding: 5px 10px;
}

#accordion {
    height: 250px;
    overflow: auto;
    outline: none;
}

.tables {
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.dash-bottom1 {
    position: absolute;
    bottom: 55px;
}

.dash-bottom2 {
    position: absolute;
    bottom: 30px;
}

#query-n-result {
    color: #ffff00;
    margin: 0px 5px;
    width: 50%;
    height: 97vh;
}

#query-text {
    border: solid 2px #3399ff;
    font-size: medium;
    resize: none;
    outline: none;
    margin: 0px 5%;
    height: 120px;
    width: 90%;
}

.flex-auto-queries {
    display: flex;
}

.sub-auto-queries {
    color: yellow;
    flex: 1;
    margin: 0px 5px;
    border: solid 3px yellow;
    border-radius: 5px;
    background: black !important;
    padding: 5px;
}

.sub-auto-queries:hover {
    color: black;
    background-color: yellow !important;
}

#execute-button {
    width: 20%;
    color: #3399ff;
    background: #121720;
    padding: 10px 10px;
    border-radius: 20px;
    outline: none;
    margin: 0px auto;
    margin-top: 10px;
    border: solid 2px #3399ff;
    display: block;
}

#execute-button:hover {
    background-color: #3399ff;
    color: #121720;
}

#result-response {
    background-image: linear-gradient(#000d33, #1a0033);
    color: #ffff00;
    border-radius: 20px;
    height: 35vh;
    padding: 0px 10px;
    overflow: auto;
}

#prev-n-saved {
    margin: 0px 5px;
    width: 30%;
    padding: 5px 10px;
}

#saved-queries {
    background-image: linear-gradient(#431e1e, #301e43);
    color: #ffff00;
    margin: 10px 5px;
    border-radius: 20px;
    height: 53vh;
    padding: 5px 10px;
}

#saved-query-div {
    height: 300px;
    overflow: auto;
}

#history-queries {
    background-image: linear-gradient(#002761, #2f476a);
    color: #ffff00;
    margin: 10px 5px;
    border-radius: 20px;
    height: 40vh;
    padding: 5px 10px;
}

#history-query-div {
    height: 200px;
    overflow: auto;
}

.border {
    border: 2px solid red;
}

.db-btns {
    color: #3399ff;
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    margin: 0px auto;
    border: solid 2px #3399ff;
}

#db-btns:hover {
    background-color: #3399ff;
    color: #121720;
}

#suggestQuery {
    margin: 10px 0px;
    cursor: pointer;
    border: 2px solid green;
    border-radius: 20px;
}

#suggestQuery:hover {
    background-color: green;
    color: black !important;
}